@font-face {
    font-family: "Oswald";
    src: url("./Polices/Oswald/Oswald-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Oswald Bold";
    src: url("./Polices/Oswald/static/Oswald-Bold.ttf");
} 
body{
    background: url("./Images/BackgroundBleu.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    font-family: "Oswald";
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    flex-direction: column;
    align-items: center;
     
    section{
        margin-bottom: 10rem;
    }
    .Policefete{
        font-family: "Oswald Bold";
    }
        
    .container {
    margin: auto;
    width: 50%;
    }

    .item {
    margin: auto;
    display: block;
    height: 50px;
    width: 100%;
    background-color: #9fd3e0;
    }

    .center {
    text-align: center;
    }
 
    #weather-location {
    text-align: center;
    font-weight: bold;
    }
    #weather-preview {
    flex-basis: 0;
    flex-grow: 1;
    }
    #weather-icon {
    height: 145px;
    width: 145px;
    margin: auto;
    }
    #weather-temp {
    font-size: 32px;
    text-align: center;
    margin-top: 75px;
    }
    #weather-detail p {
    text-align: left;
    padding-left: 24px;
    }
    #weather-detail {
    padding-top: 26px;
    }
    .main-container {
    margin: auto;
    width: 50rem;

    }
}
header p{
    font-family: "Oswald bold";
    font-size: 65px;
    padding: 1rem;
    text-align: center;
}


/*Calculatrice*/
body div.mycalc {
    font-family: "Oswald bold";
    text-align: center;
    width: 23vw;
    margin: 0 auto;
    }
    
    div input[type='button'], button {
    width: 5vw;
    height: 50px;
    margin: 2px 0;
    }
    
    div input[type="text"] {
    font-family: "Oswald bold";
    height: 50px;
    width: 100%;
    background-color: #999;
    color: #FFF;
    padding: 12px 20px;

    margin-bottom: 4px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #777;
    }
    
    div.results input, div.results button {
    height: 50px;
    width: 10vw;
    }
    
    div.results button {
    background-color: #364F6B;
    font-family: 'Oswald', bold;
    color: #FFF;
    border: 1px solid #364F6B;
    }
    
    div.results input {
    background-color: #9fd3e0;
    font-family: 'Oswald', bold;
    color: #FFF;
    border: 1px solid #9fd3e0;
    }
    
    #plus, #minus, #by, #devide, #percent {
    font-family: 'Oswald', bold;
    background-color: #9fd3e0;
    color: #FFF;
    border: 1px solid #9fd3e0;
    font-size: 19px;
    }
    .tableConverter{
        width:99.5%;
        border:1px solid#9fd3e0;
        border-top:none;
        border-bottom:none;
        text-align:center; 
        height: 35px;
        font-size:16px;
        padding:5px 0px 0px 0px;
        border-top-right-radius:5px; 
        border-top-left-radius:5px;
        background-color:#9fd3e0;
        color:#0000; font-weight:bold;
    }
    .placementConverter{
        width:238px;
        margin:0px auto;
    }
    .accordion-button{
        background-color: #92D7FE;
        font-size: 1.4rem;
    }
    .FeteDuJourPlacement{
        width:280px;
        height:200px;
        background:red;
        box-shadow:inset -12px -12px 0 0 #9FD3E0,inset 12px 12px 0 0 #9FD3E0;
        background: #9FD3E0;
        position:relative;
    }
    .CarreBleu{
        width:248px;
        height:168px;
        position:absolute;
        top:16px;
        left:16px;
    }
    .TexteFeteDuJour{
        line-height:12px;
        font-family:"Oswald";
        position:absolute;
        margin:0;
        bottom:1px;
        color:#fff;
        font-size:12px;
        text-align:center;
        font-style:normal;
    }
    .LienCliquableFeteDuJour{
        color:#fff;
        font-size:12px;
        text-shadow: 0px 2px 0 #C9A713;
        text-align:center;
    }
    .MargeFeteDuJour{
        margin: auto; 
        width:280px;
        height:248px;
        background:#fff;
        text-align:center;
        position:relative;
    }
    .Logo{
        width: 170px;
        margin-left: 11rem;
        margin-top: 2rem;
    }
footer a{
    color:black;
    display: flex;
    justify-content: flex-end;
}
    